$primaryBlue: hsl(220, 98%, 61%);
$white: #ffffff;
$checkBg: linear-gradient hsl(192, 100%, 67%) to hsl(280, 87%, 65%);

// Light Theme
$l-lightGray: hsl(0, 0%, 98%);
$l-veryLightGrayishBlue: hsl(233, 11%, 84%);
$l-lightGrayishBlue: hsl(233, 11%, 84%);
$l-darkGrayishBlue: hsl(236, 9%, 61%);
$l-veryDarkGrayishBlue: hsl(235, 19%, 35%);

// Dark Theme
$d-veryDarkBlue: hsl(235, 21%, 11%);
$d-veryDarkDesaturatedBlue: hsl(235, 24%, 19%);
$d-lightGrayishBlue: #cacde8;
$d-lightGrayishBlueHover: hsl(236, 33%, 92%);
$d-darkGrayishBlue: hsl(234, 11%, 52%);
$d-veryDarkGrayishBlue: hsl(233, 14%, 35%);
$d-veryDarkGrayishBlue: hsl(237, 14%, 26%);

$widthCalc: calc(100% - 3rem);
$inputPadding: 1rem 1rem 1rem 3.1875rem;
$fontSize: 0.8rem;