:root {
 --primary-blue: hsl(220, 98%, 61%);
 --white: #ffffff;
 --checkBg: linear-gradient hsl(192, 100%, 67%) to hsl(280, 87%, 65%);
 --widthCalc: calc(100% - 3rem);
 --inputPadding: 1rem 1rem 1rem 3.1875rem;
 --fontSize: 1.125rem;
 --font-sm: 0.9rem;
 --border-top: 1px solid hsl(233, 11%, 84%);
}

// Dark Theme
.dark-theme {
 --bg-image-mobile: url('/images/bg-mobile-dark.jpg');
 --bg-image-desktop: url('/images/bg-desktop-dark.jpg');
 --main-bg: hsl(235, 21%, 11%);
 --todo-bg: hsl(235, 24%, 19%);
 --font-default: hsl(234, 39%, 85%);
 --text-hover: hsl(236, 33%, 92%);
 --font-light: hsl(233, 11%, 52%);
 --box-shadow: hsl(235, 21%, 11%);
 --veryDarkGrayishBlue: hsl(237, 14%, 26%);
 --border-top: 1px solid hsl(237, 14%, 26%);
}

// Light Theme
.light-theme {
 --bg-image-mobile: url('/images/bg-mobile-light.jpg');
 --bg-image-desktop: url('/images/bg-desktop-light.jpg');
 --main-bg: hsl(0, 0%, 98%);
 --todo-bg: hsl(0, 0%, 98%);
 --veryLightGrayishBlue: hsl(233, 11%, 84%);
 --lightGrayishBlue: hsl(233, 11%, 84%);
 --font-light: hsl(236, 9%, 61%);
 --box-shadow: hsla(235, 19%, 35%, 0.452);
 --border-top: 1px solid hsl(233, 11%, 84%);
}
